body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgba(207, 204, 204, 0.575);
}

 .wrapper {
     margin:0;
     background-color: white;
    
} 

/* * {
    box-sizing: border-box; */

header {
    background-color: #1F2937;
    padding: 15px 130px 80px 150px;
    display: flex;
    flex-flow: column wrap;
}

.header-links {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5px;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    text-decoration-style: none;
    margin: 0 10px;
}

.header-links a:hover {
    filter:sepia(90)
}


.intro-text h2 {
    color: honeydew;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}

.intro-text p {
    color: honeydew;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    max-width: 70vw;
    margin-top: 1px;
    margin-bottom: 4px;
}

.header-upper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-upper img {
    width: 70px;
    border: 1px solid honeydew;
    border-radius: 8px;
    margin: 10px;
}

.header-lower {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vw;
}

.header-image img {
    display: flex;
    flex-flow: row wrap;
    width: 250px;
    border: 1px solid rgb(253, 254, 255);
    border-radius: 8px;
    
}

.header-lower button {
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: larger;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
    padding: 2px 12px;
}

.mini-gallery {
    padding: 15px 10px;
}

.mini-gallery h2 {
    text-align: center;
}

.figures-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-grow: 0;   
    flex-basis: 0; 
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* this bellow makes all boxes same size, maybe */
    flex-grow: 1;   
    flex-basis: 0; 
    margin: 0px 150px;

}

.box-container p {
    text-align: center;
    max-width: 166px;
}

.mini-gallery img {
    border-radius: 9px;
    border: solid rgb(26, 26, 116);
    max-width: 160px;
    max-height: 160px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 25px 150px;
    font-size: 24px;
}

.call-to-action {
    background-color: #3882f6;
    margin: 30px 50px;
    padding: 15px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.call-to-action p {
    font-size: small;
}


.call-to-action button {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 6px;
    color: #E5E7EB;
    margin-left: 8px;
    font-size: larger;
}

footer {
    background-color: #1f2937;
    color: honeydew;
    padding: 15px;
    display:flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;

}

.credits a, .credits p {
    font-size: small;
    text-decoration: none;
    text-decoration-style:none;
    color: #E5E7EB;
}

button:hover {
    filter:invert()
}







/* @media screen and (max-width:411px) {
    .mini-gallery {
        display: flex;
        flex-flow: wrap column;
    }

}  */